<h2>Home</h2>

<p class="status" ng-if="!loggedIn"><a href="#/login">{{"log_in"|translate}}</a>
</p>
<div ng-if="loggedIn" <p>{{"Welcome" | translate}} {{profile.name}}!</p>

<h3>{{"Providers" | translate}}</h3>
    <ul ng-repeat="provider in providers">
        <li>
            <a href="#/schedule/{{provider.key}}">{{provider.name}}</a>
            <a href="#/provider/update/{{provider.key}}">{{"Edit" | translate}}</a>
        </li>
    </ul>

    <a href="#/provider/create">{{"Add_Provider" | translate}}</a>
</div>
