<h2>{{"Create_Account"| translate}}</h2>

<form name='newAccountForm' novalidate>
    <label>
        <span>{{"Email"| translate}}</span>
        <input type="email" required ng-model="email" name='email' placeholder='{{"Email_is_required"| translate}}'/>
    </label>
    <label>
        <span>{{"Account_Name"| translate}}</span>
        <input type="text" required ng-model="account.name" placeholder='{{"Account_Name_is_required"| translate}}'/>
    </label>
    <label>
        <span>{{"Country"| translate}}</span>
        <select ng-model="account.country" required>
            <option value="">{{"Select_one" | translate}}...</option>
            <option ng-repeat="country in countries" value='{{country.code}}' label='{{country.name}}' />
        </select>
    </label>
    <label>
        <span>{{"Password"| translate}}</span>
        <input type="password" required ng-model="pass" placeholder='{{"Enter_Password"| translate}}'/>
    </label>
    <label>
        <span>{{"Confirm_Password"| translate}}</span>
        <input type="password" required ng-model="confirm" placeholder='{{"Confirm_Password"| translate}}'/>
    </label>
    <button type="submit" ng-disabled="newAccountForm.$invalid" ng-click="createAccount()">{{"Create_Account"| translate}}</button>


    <p ng-show="err" class="error">{{err}}</p>
</form>
